<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form th:action="@{/upload}" th:method="POST" th:enctype="@{multipart/form-data}">
    <p>文件：<input th:type="file" th:name="test"/></p>
    <input th:type="submit" />
</form>
<a th:href="@{/download}">下载test</a>
<p th:text="多文件上传"></p>
<form th:method="POST" th:enctype="@{multipart/form-data}" th:action="@{/batch/upload}">
    <p>文件1 <input th:type="file" th:name="file" /></p>
    <p>文件2 <input th:type="file" th:name="file" /></p>
    <input th:type="submit" th:value="上传" />
</form>
</body>
</html>